<aside class="logo">
	<a href="{{ site.baseurl }}/" title="Coderegation @ Balabit">
		<img src="{{ site.baseurl }}/assets/favicon.ico" alt="Balabit Logo">
	</a>
	<div>Coderegation @ <a href="http://balabit.com" title="Balabit homepage" target="_blank">Balabit</a></div>
</aside>
{% if page.url == '/index.html' || page.url == '/' %}
	<div class="header-about">
		<a href="{{ site.baseurl }}/about.html" title="What is Coderegation?" class="header-about-button">
		What is Coderegation?
		<span class="header-about-button-line"></span>
		</a>
	</div>
{% endif %}
